:root{
    --primary-text-color:rgba(33, 33, 33, 1);
    --title-tex-color:rgba(117, 117, 117, 1);
    --accent-color:rgba(33, 150, 243, 1);
    --background-color:rgba(47, 48, 58, 1);
    --hover-focus-color:rgba(33, 150, 243, 1);
    --background-color-white: rgba(255, 255, 255, 1);
    --background-section:#E5E5E5;
    --color-logo-blue:rgba(33, 150, 243, 1);
    --color-logo-black:rgba(0, 0, 0, 1);
    --color-logo-white:rgba(255, 255, 255, 1);
    --color-batton-white:rgba(255, 255, 255, 1);
    --color-batton-blue:rgba(33, 150, 243, 1);
}

body {
    color:var(--primary-text-color);
    background-color:var(--background-color-white);

    font-family: roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.header {
    background-color: var(--background-color-white);}

/* LOGO */

.logo {
    font-family: raleway, cursive;
    color:var(--color-logo-blue);
    text-decoration: none;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;}
.studio {
    color:var(--color-logo-black);}

.list {
    list-style: none;}

/* site-nav */

.site-nav .link-studio.current {
    color:var(--accent-color);
    text-decoration: none;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;}

.site-nav .link{
    color:var(--primary-text-color);
    text-decoration: none;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus{
    color:var(--hover-focus-color);}

/* site-adress */

.site-adress .adress{
    color:var(--title-tex-color);
    text-decoration: none;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;}

.adress:hover,
.adress:focus{
    color:var(--hover-focus-color);}

/* SECTION HERO */

.hero {
    background-color:var(--background-color);}

.hero-title {
    color:var(--background-color-white);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero .batton {
    color:var(--color-batton-white);
    background-color: var(--color-batton-blue);
    cursor: pointer;
   
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

/* SECTION */

.title {
    display: none;
}

.feature .feature-title {
    font-size: 14px;
    line-height: 1.14;}

.feature .feature-list {   
     line-height: 1.7;}

/* Команда */

.section {
    background-color: rgba(245, 244, 250, 1);x
}
.section-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.feature-comand .feature-picture {
    background-color:var(--background-color-white);
}

.feature-comand .feature-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;}

.feature-comand .feature-list{
    color: var(--title-tex-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;}

    




/* FOOTER */

address {
    font-style: normal;
}

.footer {
    background-color:var(--background-color);}

.footer-logo {
    font-family: raleway;
    color:var(--color-logo-blue);
    text-decoration: none;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.9;}
.footer-studio {
    color:var(--color-batton-white)}

/* ADRESS FOOTER */

.adress-reg {
color: rgba(255, 255, 255, 1);
text-decoration: none;

font-weight: 400;
line-height: 1.7;}

.adress-email, .adress-phone {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    
    font-weight: 400;
    line-height: 1.7;}

.adress-email:hover,
.adress-phone:hover,
.adress-email:focus,
.adress-phone:focus {
    color:var(--hover-focus-color);}