body {
    font-family: roboto, sans-serif;
    color:#212121;
}

.Logo {
color: #000000;
}


.site-nav-studia {
color: #212121;
}

.site-nav-portfolio {
color: #2196F3;
}

.site-nav-contacts {
color: #212121;
}


.cont-email, .cont-phone{
color: #757575;
}

.cont-email:hover,focus {
    color: #2196F3;
}
.cont-phone:hover, focus {
    color:#2196F3;
}

.nav-batton-oll {
    color: #FFFFFF;
    background: #2196F3;

    font-weight: 500;
    fond-size: 16 px;
    line-height: 1.6;
}

.nav-batton-web {
    color: #212121;
    background: #F5F4FA;
    
    
    font-weight: 500;
    fond-size: 16 px;
    line-height: 1.6;
}

.nav-batton-appendix {
    color: #212121;
    background: #F5F4FA;

    font-weight: 500;
    fond-size: 16 px;
    line-height: 1.6;
}

.nav-batton-design {
    color: #212121;
    background: #F5F4FA;

    font-weight: 500;
    fond-size: 16 px;
    line-height: 1.6;
}

.nav-batton-marketing {
    color: #212121;
    background: #F5F4FA;

    font-weight: 500;
    fond-size: 16 px;
    line-height: 1.6;
}

.text-web {
color: #757575;
}
.text-design {
color: #757575;
}
.text-seafood {
color: #757575;
}
.text-prime{
color: #757575;
}
.text-boxes{
color: #757575;
}
.text-borders{
color: #757575;
}
.text-edition {
color: #757575;
}
.text-lab {
color: #757575;
}
.text-business{
color: #757575;
}

.footer {
    background: #2F303A;
}

.address-registr {
color: #FFFFFF;
}

.address-email, .address-phone {
color: #FFFFFF99;
}

.address-email:hover, focus {
    color: #2196F3;
}
.address-phone:hover, focus {
    color: #2196F3;
}